<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Commande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  <h2><span>Commandes n°:</span> 358745217</h2>
  <h2><span>Total:</span> 500dt</h2>
  <h2 class="ion-padding-bottom"><span>Livré le:</span> 23-01-2020</h2>

  <ion-row class="section-row ion-margin-top">
    <p class="section-title">ARTICLES</p>
  </ion-row>

  <ion-list lines="full">
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../../../assets/img/img.jpg" >
        </ion-col>
        <ion-col size="8" >
          <p class="product-name">
            Feu avant droit full Led Seat Leo <br>
            Modèles 2013/2018
          </p>
          <p class="product-description">
            <span class="price">250 TND</span><br>
            Produit d'origine<br>
            Constructeur : SEAT<br>
            Quantité : 4<br>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../../../assets/img/img.jpg" >
        </ion-col>
        <ion-col size="8">
          <p class="product-name">
            Feu avant droit full Led Seat Leo <br>
            Modèles 2013/2018
          </p>
          <p class="product-description">
            <span class="price">250 TND</span><br>
            Produit d'origine<br>
            Constructeur : SEAT<br>
            Quantité : 4<br>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-row class="ion-justify-content-between">
    <ion-col size="col-5">
      <ion-button class="btn" color="danger" size="full" >
        Recommander
      </ion-button>
    </ion-col >
    <ion-col size="col-5">
      <ion-button class="btn" color="danger" size="full" >
        Demmander le retour
      </ion-button>
    </ion-col >
  </ion-row>

  <ion-row class="section-row ion-margin-top">
    <p class="section-title">PAIEMENT</p>
  </ion-row>
  <p>Paiement par carte</p>


  <ion-row class="section-row ion-margin-top">
    <p class="section-title">LIVRAISON</p>
  </ion-row>
  <p>12 Rue elhidaya El Menzah 7</p>

</ion-content>
