ion-tab-button {
  --ripple-color : var(--ion-color-danger);
  --color-focused :  var(--ion-color-danger) ;
  --color-selected :  var(--ion-color-danger) ;
  --background-focused :  var(--ion-color-danger) ;
}
//.tab-selected{
//  border-radius: 15px;
//  background-color: rgba(233, 61, 78, 0.21);
//  border-top: 3px solid   var(--ion-color-danger) ;
//}

