<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Cathegories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Commandes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Actualités</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
